.inputfile {
    opacity: 0;
    position: absolute;
    z-index: -1;
    
}
.inputfile + label {
    cursor: pointer;
}
.inputfile + label {
    font-size: 15px;
    padding: 10px 10px;
    
    color: white;
    background-color: #d32f2f;
    display: inline-block;
}
